html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i, center,
dl, dt, dd, ol,
fieldset, form, legend,
table, caption, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

a {
  color: white; }

a:hover {
  color: white;
  text-decoration: underline; }

ul {
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}


.navbar {
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
  padding: auto;
 }

 .textnav {
  width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
 }

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  background-color: #ffffff !important;
  border-radius: 0.3rem; }

.lead {
  font-size: 1.25rem;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-top: 50px; }

.carousel-item {
  position: relative;
  display: none;
  float: left;
  height: auto;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; }

/*
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 100px;
  margin-left: 100px;
  padding: 50px 0 100px 0; }
*/

.rownarrow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  height: 475px;
  width: 250px;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding-bottom: 20px;
  margin: auto; }


.card-title {
  font-style: normal;
  font-weight: bold;
  font-family: 'Lusitana', serif;
  text-align: center;}

.card-text {
  padding-bottom: 20px; 
  font-family: 'Raleway', sans-serif;
  text-align: center;}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  color: #A4B801;
  font-style: normal;
  font-family: 'Lusitana', serif;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px; }

.modalcenter {
  align-content: center; }

.containerservicios {
  margin: auto;
  padding-top: 50px;
  width: 50%;
  font-family: 'Raleway', sans-serif;
  text-align: left;
   }

.containercolor {
  background-color: #A4B801;
  color: #fefefe;
  height: auto;
  padding: 50px;
  margin-top: 100px;
  width: auto; }

.containercolorproyectos {
  background-color: #A4B801;
  color: #fefefe;
  height: auto;
  padding: 50px;
  width: auto; }

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #A4B801;
  text-align: center; }

.lead2 {
  font-size: 1.25rem;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding-top: 150px; }

.imgreview {
  height: auto;
  width: 10%;
  padding-top: 25px; }

.review {
  font-style: normal;
  font-family: 'Lusitana', serif;
  text-align: center;
  margin: 0 150px; }

img {
  max-width: 100%; }

.imggallery {
  height: 100%; }

.gallery_box li {
  width: 33.333333%;
  max-width: 100%;
  display: inline-block;
  float: left;
  text-align: center;
  overflow: hidden;
  position: relative; }

.gallery_box {
  /*padding: 100px 0 50px 0;*/
  display: flow-root;}

.gallery_box li:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1); }

.gallery_box li img {
  -webkit-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease; }

.gallery_box li:nth-child(even) {
  height: 304px; }

.gallery_box li:nth-child(odd) {
  height: 438px; }

.gallery_box li:nth-child(odd) .box_data {
  background: rgba(0, 0, 0, 0.17); }

.gallery_box li:nth-child(even) .box_data {
  background: rgba(48, 73, 92, 0.27); }

.gallery_box .box_data {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff; }

.gallery_box .box_data span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  font-size: 24px; }

.gallery_box li:hover .box_data {
  background: #A4B801;
  opacity: 0.5; }

.gallery_box li:hover .box_data span {
  background: #A4B801;
  opacity: 0.5;
  display: none; }

.nose{
    position: relative;
    top: -134px;}

.box1 {
  width: 1050px; }

.box2 {
  padding-right: 150px; }

.containercontacto {
  padding: 0 300px 0 300px; }

.textocontacto {
  font-size: 1.25rem;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  text-align: left; }

@media (max-width: 700px) {
.lead {
  font-size: 0.85rem;
  margin-top: 20px;}

.display-4 {
  font-size: 2rem;
  padding-top: 15px;
  padding-bottom: 25px; }

.containerservicios {
   margin: 35px 35px 10px 35px;
   width: auto;
   padding: 10px;}

.gallery_box {
    padding: 20px 0 25px 0;}

.lead2 {
  font-size: 1rem;
  padding-top: 70px;}

.review {
  margin: 0 40px}

.imgreview {
width: 35%;}

.gallery_box li {
  width: 100%;}

.gallery_box li:nth-child(even) {
   height: 204px; }
  
.gallery_box li:nth-child(odd) {
    height: 238px; }

.nose{
      top:0}

.imggallery {
      width: 100%;}
 
.box2 {
      width: auto }}


@media (max-width: 300px) {
    #footer {display: none;}
    .textnav {
  width: 25%;
 }}